Types: deb
URIs: https://download.docker.com/linux/ubuntu
Suites: {{ ansible_distribution_release }}
Components: stable
Architectures: {{ ansible_architecture | replace('x86_64', 'amd64') }}
Signed-By: /etc/apt/keyrings/docker.asc
